{{template "header" .}}
<body class="row  d-flex justify-content-center">

    <div class="card">

        <img alt="Image not found" src="https://sheltered-earth-42665.herokuapp.com/static/img/logo.png">

        <div class="card-body">

            <form id="login_form" method="POST">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

            <p>Forgot password? <a href="https://sheltered-earth-42665.herokuapp.com/reset">Reset Here</a></p>
            <p>Not a member? <a href="https://sheltered-earth-42665.herokuapp.com/register">Sign Up Now</a></p>

        </div>

    </div>

{{template "footer" .}}
