<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login App</title>
</head>
<body>
<div style="max-width: 300px; margin: 10% auto auto;">
    <form id="login_form" method="POST">
        <label for="username">Username</label><br>
        <input type="text" placeholder="username" name="username" id="username" required><br>
        <label for="password">Password</label><br>
        <input type="password" placeholder="password" name="password" id="password" required><br>
        <input type="submit" value="SUBMIT">
    </form>

    <p>Forgot password? <a href="https://sheltered-earth-42665.herokuapp.com/reset">Reset Here</a></p>
    <p>Not a member? <a href="https://sheltered-earth-42665.herokuapp.com/register">Sign Up Now</a></p>
</div>
</body>
</html>