<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body class="container">

    <div class="card">

        <div class="card-body">

            <form id="register_form" method="POST" class="needs-validation" novalidate>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Username" name="username" id="username" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control form-control-sm" id="email" aria-describedby="emailHelp" placeholder="Email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control form-control-sm" placeholder="Phone" name="phone" id="phone" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control form-control-sm" placeholder="Password" name="password" id="password" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control form-control-sm" placeholder="Confirm password" name="confirm_password" id="confirm_password" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <button class="btn btn-primary">SUBMIT</button>

            </form>

            <p>Already a member? <a href="http://127.0.0.1:8000">Sign In Now</a></p>

        </div>
    </div>

<script>
    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            let forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            let validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    /*function validateForm() {
        let username = document.forms["register_form"]["username"].value;
        let email = document.forms["register_form"]["email"].value;
        let phone = document.forms["register_form"]["phone"].value;
        let password = document.forms["register_form"]["password"].value;
        let confirm_password = document.forms["register_form"]["confirm_password"].value;
        if(username!=="" || email!=="" || phone!=="" || password!=="" || confirm_password!==""){
            if (ValidateEmail(email)) {
                if(ValidatePhone(phone)){
                    if(ValidatePassword(password,confirm_password)){
                        document.getElementById("register_form").submit();
                    }
                }
            }
        }else{
            alert("Please fill the credentials!");
            return false;
        }
    }

    /!**
     * @return {boolean}
     *!/
    function ValidateEmail(email) {
        if (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
            return true;
        }
        alert("You have entered an invalid email address!");
        return false;
    }

    /!**
     * @return {boolean}
     *!/
    function ValidatePhone(phone) {
        let phone_no_pattern = /^\(?([0-9]{3})\)?[]?([0-9]{3})[]?([0-9]{4})$/;
        if(phone.match(phone_no_pattern)) {
            return true;
        } else {
            alert("You have entered an invalid phone number!");
            return false;
        }
    }

    /!**
     * @return {boolean}
     *!/
    function ValidatePassword(password,confirm_password) {
       if(password.length>=5){
           if(password.match(confirm_password)) {
               return true;
           }else{
               alert("Your passwords don't match!");
               return false;
           }
       }else {
           alert("Your password is too short! Password should be more than 5 characters");
           return false;
       }

    }*/
</script>
{{template "footer" .}}
</body>
</html>