<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body class="container">

    <div class="card">

        <div class="card-body">

            <form id="reset_form" method="POST" >

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <p>Not a member? <a href="http://127.0.0.1:8000/register">Sign Up Now</a></p>

            </form>

        </div>

    </div>

{{template "footer" .}}
</body>
</html>